@charset "UTF-8";
/* @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}


* {
  scrollbar-width: none;  
  -ms-overflow-style: none;   
}

 *::-webkit-scrollbar {
  display: none;
}

.categoryCard{
  background-color: #1b2b5d;
  color: seashell;
 }

 body{
  background-color: #fdfcfc;
 }
.home-background {
  background-color: #fdfcfc;
  background-size: cover; 
  background-repeat: repeat; 
  background-position: center; 
  height: 100vh; 
  width: 100%;
}

.home-background .appBar{
  background-color: seashell;
  z-index: 1;
}

.butn{
  background-color: #1b2b5d;
}

nav-bar .tnb-right-section .tnb-login-btn {
  position: relative;
  width: 112px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  background-color: #04AA6D;
  color: #ffffff;
  border-radius: 25px;
  padding-left: 39px;
  font-size: 16px;
  line-height: 1.5;
  z-index: 4;
}


.main-box {
  position: relative;
  display: block;
  width: 90%;
  height: 700px;
  margin: 50px auto;
  border-radius: 8px;
  overflow: hidden;
  background: linear-gradient(to right, #232f41, #374a62);
}

.lined-link {
  position: relative;
  text-decoration: none;
  transition: all 0.2s linear;
}

.lined-link:hover {
  opacity: 0.5;
}

.lined-link:after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  bottom: -2px;
  border: none;
  border-bottom: 1px solid #63d5c4;
}

.slider-cont,
.form-cont {
  width: 50%;
  height: 100%;
  float: left;
}

.slick-slide,
.slick-slider {
  width: 100%;
  height: 100%;
}

.clear-fix {
  clear: both;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  border: 0;
  outline: none;
  background: #8dffea;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.slick-dots li.slick-active button {
  background-color: #53C5B9;
  transform: scale(1.6);
  box-shadow: 0 0 10px #1b1b1b;
}

.img-txt {
  position: relative;
}

.img-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(47, 63, 85, 0.53);
}

.img-txt h1 {
  position: absolute;
  display: block;
  top: 50%;
  color: #000000;
  width: 100%;
  padding: 50px 0;
  font-size: 45px;
  font-weight: 100;
  text-align: center;
  transform: translateY(-50%);
  background-color: transparent;
}

.top-buttons {
  position: relative;
  display: block;
  width: 100%;
  height: 15%;
  padding: 25px;
  text-align: center;
  margin-right: 50%;
}

.top-buttons button {
  color: #cacaca;
  border: none;
  width: 90px;
  margin: -2px;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  background: #4c5c72;
  cursor: pointer;
}

.top-buttons button:nth-child(1) {
  border-radius: 50px 0 0 50px;
}

.top-buttons button:nth-child(2) {
  border-radius: 0 50px 50px 0;
}

.top-active-button {
  color: #fff !important;
  box-shadow: 0 0 20px #2a2a2a;
  background: linear-gradient(#68dac7,#54c7ba) !important;
  transition: all 0.3s ease;
}

.form {
  width: 100%;
  height: 85%;
  padding: 10px 40px;
}

.form form {
  width: 100%;
  height: 100%;
}

.form form label,
input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
}

.form form label {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin: 6px 0;
}

p.terms {
  color: #9E9E9E;
  margin-bottom: 60px;
}

.form form input[type="text"],
input[type="email"],
input[type="password"] {
  color: #fff;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 45px;
  padding: 5px 0 10px 0;
  background: transparent;
  border-bottom: 1px solid #4c5c72;
}

.form form input::placeholder {
  color: #cecece;
}

.form form a {
  color: #fff;
}

input.form-btn {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  padding: 12px 55px;
  margin-right: 50px;
  border: none;
  cursor: pointer;
  border-radius: 35px;
  transition: all 0.3s linear;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.55);
  background: linear-gradient(to right, #5bcdbe,#41ab9e);
}

input.form-btn:hover {
  box-shadow: none;
}

.form-signin {
  display: none;
  padding-top: 120px;
}



.home-background .btn-text {
  color: #1b2b5d;
  font-weight : 900;
 
}

.home-background .buttons{
  background-color: #1b2b5d;
  color: seashell;
}
.hero-text{
  color: #1b2b5d;
}


/* Footer Styles */
.newsletter {
  padding: 2rem 0;
  background-color: #343a40;
}

.mdb-footer a {
  color: #fff;
  text-decoration: none;
}

.mdb-footer a:hover {
  color: #21D192;
  text-decoration: underline;
}

.mdb-footer h5 {
  margin-bottom: 1.5rem;
  color: #21D192;
}

.mdb-footer .form-control {
  background-color: #495057;
  color: #fff;
  border: none;
  border-radius: 0;
}

.mdb-footer .form-control::placeholder {
  color: #ced4da;
}

.mdb-footer .btn-outline-light {
  border-color: #21D192;
  color: #21D192;
}

.mdb-footer .btn-outline-light:hover {
  background-color: #21D192;
  border-color: #21D192;
  color: #fff;
}

.mdb-footer .p-3 {
  background-color: rgba(0, 0, 0, 0.2);
}

.mdb-footer .text-uppercase {
  text-transform: uppercase;
}

.icon{
  width: 50px;
  height: 50px;
}

.reveal {
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.contentHead{
  color: #1b2b5d;
  margin-bottom: 2rem;
  /* font-family : cursive; */
  font-family: fantasy;
  z-index: 1;
}
.contentSub{
  color: rgb(119, 118, 118);
  margin-bottom: 4rem;
  /* object-fit: ; */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.box-animate {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.box-animate-visible {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInUp 0.5s ease-out forwards;

 }

.text-color{
  color: #1b2b5d;
}


/* In your CSS file (e.g., components.css) */
@keyframes easeIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.image-animate {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.image-animate-visible {
  animation: easeIn 0.5s forwards;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
    }
  }


.cont.s--signup .sign-in,
.cont.s--signup .img__text.m--in,
.cont.s--signup .img__btn span.m--in {
  transform: translate3d(calc(100% - 260px), 0, 0);
}

.cont.s--signup .sub-cont,
.cont.s--signup .img__text.m--up,
.cont.s--signup .img__btn span.m--up {
  transform: translate3d(calc((100% - 260px) * -1), 0, 0);
}


@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap");

#log-reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 5rem;
  

}
#auth {
  width: 60vw;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 30px;
}

#auth.sign-up #slider {
  left: 50vw;
}

#auth form {
  flex: 0 0 50%;
  padding: 5vh 10vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: hsla(225, 55%, 24%, 0.071); */
  background-color: rgb(255, 246, 240, 1);
  border-radius: 30px;
  box-shadow: 0 6px 20px 10px rgba(black, 0.2);
  

}

#auth label {
  margin-bottom: 6px;
  font-weight: 900;
  margin-left: 0;
  color: #1b2b5d;
  font-family: cursive;
}
#auth h2{
  font-family: cursive;
  font-weight: bolder;
  margin-bottom: 4rem;
}

#auth button,
#auth #sign-up input,
#auth #sign-up textarea,
#auth #login input, 
#auth #login textarea {
  margin-bottom: 15px;
  font-size: 1.25rem;
}

#auth #sign-up input,
#auth #sign-up textarea,
#auth #login input, 
#auth #login textarea {
  padding: 10px;
  transition: 125ms ease;
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  text-align: center;
  color: black;
  outline: none;
  background: none;
  border: none;
  border-bottom: 2.5px solid;
}

#auth input:focus {
  border-color: #1b2b5d;
  box-shadow: 0 0 0 2pt rgba(#1b2b5d, 0.3);
}

#auth button {
  border: none;
  margin-top: 20px;
  background: rgba(#1b2b5d, 0.7);
  box-shadow: 0 3px 15px 5px rgba(black, 0.2);
  cursor: pointer;
  font-family: "Quattrocento Sans";
  transition: 75ms ease;
}

#auth button:active {
  background: rgba(#1b2b5d, 0.7);
  transform: scale(0.95);
}

#auth button:hover {
  background: #f2f2f7;
  color: #1b2b5d;
  transform: scale(0.95);
}

#slider {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url('../assets/pets-image2.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  transition: left 300ms ease;
  clip-path: inset(0);
}

#slider:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #1b2b5d;
  opacity: 0.6;
}

#slider div {
  color: seashell;
  position: fixed;
  height: 100%;
  width: 50vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  top: 0;
}

#login-text {
  left: 0;
  margin-bottom: 100px;
}

#sign-up-text {
  left: 50vw;
  margin-bottom: 100px;
}

.toggle {
  text-align: center;
  color: #757575;
}

.toggle span {
  color: #1b2b5d;
  cursor: pointer;
}

#auth .radio-group {
  display: flex;
  gap: 20px;
  margin-top: 2rem;
  margin-left: 35%;
}

#auth label.radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}

#auth input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 2px solid #1b2b5d;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
}

.radio-label input[type="radio"]:checked + span::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: #1b2b5d;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.input-with-icon input {
  width: 100%;
  padding-right: 30px; /* Add space for the icon */
}

.icon-error, .icon-success {
  position: absolute;
  right: 10px;
}

.input-error {
  border: 2px solid red;
}

.input-success {
  border: 2px solid green;
}

/* @media (max-width: 1024px) {
  #auth {
    flex-direction: column;
    position: relative;
  }

  #auth.sign-up #slider {
    left: 0;
    height: 50vh;
    width: 100%;
  }

  #slider {
    height: 50vh;
    width: 100%;
    transition: left 300ms ease, top 300ms ease;
  }

  #login-text,
  #sign-up-text {
    position: static;
    width: 100%;
    padding: 20px;
  }

  #auth form {
    padding: 5vh 5vw;
  }

  #slider {
    clip-path: inset(0);
  }
}

@media (max-width: 600px) {
  #auth form {
    padding: 2vh 2vw;
  }

  #login-text,
  #sign-up-text {
    padding: 10px;
  }

  #auth .radio-group {
    flex-direction: column;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  #auth form {
    padding: 2vh 1vw;
  }

  #slider div {
    padding: 15px;
  }

  #login-text,
  #sign-up-text {
    padding: 5px;
  }
} */

/* -----------------video hover---------------------- */
.hover-video-container {
  position: relative;
  display: inline-block;
}

.hover-video-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.video-popup {
  position: absolute;
  top: 100px;
  left: 50%;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  z-index: 100;
  background-color: seashell;
  /* border: 1px solid #ccc; */
  /* padding-top: 10px; */
  padding: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 500px;
}

.video-popup iframe {
  width: 100%;
  height: 100%;
}

.video-popup button {
  display: block;
  margin: 10px auto 0;
  padding: 5px 10px;
  background-color: #1b2b5d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* -----------------end of video hover------------------ */